profiles {

	debug {

		params {
			debug = true
			reference = "reference/WS245.fa.gz"

		}

		docker {
			enabled = true
		}

		process {
			container = "andersenlab/wi-nf"
		}
	}

    quest_debug {
        params {
            debug = true
            tmpdir = "/projects/b1042/AndersenLab/tmp"
            bamdir= "/projects/b1059/data/alignments"
            reference = "/projects/b1059/data/genomes/c_elegans/${genome}/${genome}.fa.gz"
        }
    }
    quest {
        params {
            tmpdir = "/projects/b1042/AndersenLab/tmp"
            bamdir= "/projects/b1059/data/alignments"
            fq_file_prefix = ""
            reference = "/projects/b1059/data/genomes/c_elegans/${genome}/${genome}.fa.gz"
        }
    }

}

params {
    genome = "WS245"
	annotation_reference = "WS261"
}

manifest {
    homePage = "http://www.andersenlab.org"
    description = "Wild Isolate Sequencing Pipeline"
    mainScript = "main.nf"
}
